[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/ebtc-amm-comparer"]
	path = lib/ebtc-amm-comparer
	url = https://github.com/GalloDaSballo/ebtc-amm-comparer
